<html>
    <head>
        <meta charset="utf-8">
        <title>HR's First Blog</title>
        <link rel="stylesheet"
        href = "/css/stylesheet.css">
    </head>

    <body>

        <%- include('header') %>
        <!-- <nav class='top_nav'>
            <h4 class="top_logo">HR's First Blog</h4>
            <p>Welcome <%=locals.username%></p>

            <% if (locals.isLoggedIn) { %>
                <a class="up top_post" href="/new">New Post</a>
                <a class="up top_to_lists" href="/index">Blog Lists</a>
                <a href='/logout'>Logout</a>
            <% } else {%>
                <a class="up top_signup" href='/signup'>SignUp</a>
                <a class="up top_login" href='/login'>Login</a>
                <a class="up top_post" href="/new">New Post</a>
                <a class="up top_to_lists" href="/index">Blog Lists</a>
            <% } %>

        </nav> -->

        <div class='top_whole'>
            <div class='top_container'>
                    <h1>HR's First Blog</h1>


                </header>
            </div>

        </div>
       
        

    </body>
</html>
